.navbar-custom , footer{
  background-color: #000; 
  border-bottom: 3px solid #d4c26a; 
  margin: 20px;
  color: #d4c26a;
  text-align: center;
}

.navbar-custom .navbar-brand, 
.navbar-custom .nav-link {
  color: #d4c26a; 
}

